USE [db40175]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[ContactName] [nvarchar](100) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[BillingAddress] [nvarchar](200) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryForms]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryForms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CheckDate] [datetime2](7) NOT NULL,
	[TrailerNumber] [nvarchar](50) NOT NULL,
	[IsTempOk] [bit] NOT NULL,
	[IsClean] [bit] NOT NULL,
	[DriverName] [nvarchar](100) NOT NULL,
	[ApprovedById] [int] NOT NULL,
 CONSTRAINT [PK_DeliveryForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinishedProducts]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinishedProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[QuantityAvailable] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_FinishedProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[FinishedProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_InvoiceItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackagingMaterials]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackagingMaterials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](100) NOT NULL,
	[QuantityInStock] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
 CONSTRAINT [PK_PackagingMaterials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionBatches]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionBatches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchNumber] [nvarchar](50) NOT NULL,
	[ProductionDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[FinishedProductId] [int] NOT NULL,
	[SupervisorId] [int] NOT NULL,
	[TargetQuantity] [int] NOT NULL,
	[QuantityProduced] [int] NOT NULL,
	[DowntimeMinutes] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ProductionBatches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionMaterials]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionMaterials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductionBatchId] [int] NOT NULL,
	[RawMaterialId] [int] NOT NULL,
	[QuantityUsed] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ProductionMaterials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionStages]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionStages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductionBatchId] [int] NOT NULL,
	[StageName] [nvarchar](max) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NULL,
	[TemperatureCheck] [nvarchar](50) NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_ProductionStages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawMaterials]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMaterials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](100) NOT NULL,
	[LotNumber] [nvarchar](50) NOT NULL,
	[QuantityInStock] [decimal](18, 2) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[SupplierId] [int] NOT NULL,
 CONSTRAINT [PK_RawMaterials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceivingForms]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceivingForms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[TrailerNumber] [nvarchar](50) NOT NULL,
	[IsAccepted] [bit] NOT NULL,
	[InspectionNotes] [nvarchar](500) NULL,
	[ReceivedById] [int] NOT NULL,
 CONSTRAINT [PK_ReceivingForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Carrier] [nvarchar](50) NOT NULL,
	[TrackingNumber] [nvarchar](50) NULL,
	[CustomerId] [int] NOT NULL,
	[DeliveryFormId] [int] NULL,
	[FinishedProductId] [int] NOT NULL,
	[QuantityShipped] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TotalValue] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Shipments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XRayChecks]    Script Date: 2/5/2026 2:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XRayChecks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductionBatchId] [int] NOT NULL,
	[CheckTime] [datetime2](7) NOT NULL,
	[Result] [nvarchar](max) NOT NULL,
	[Comments] [nvarchar](500) NULL,
	[OperatorId] [int] NOT NULL,
 CONSTRAINT [PK_XRayChecks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ((0)) FOR [FinishedProductId]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ((0)) FOR [QuantityShipped]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT (N'') FOR [Status]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ((0.0)) FOR [TotalValue]
GO
ALTER TABLE [dbo].[DeliveryForms]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryForms_Users_ApprovedById] FOREIGN KEY([ApprovedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DeliveryForms] CHECK CONSTRAINT [FK_DeliveryForms_Users_ApprovedById]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_FinishedProducts_FinishedProductId] FOREIGN KEY([FinishedProductId])
REFERENCES [dbo].[FinishedProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_FinishedProducts_FinishedProductId]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_Invoices_InvoiceId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers_CustomerId]
GO
ALTER TABLE [dbo].[PackagingMaterials]  WITH CHECK ADD  CONSTRAINT [FK_PackagingMaterials_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PackagingMaterials] CHECK CONSTRAINT [FK_PackagingMaterials_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[ProductionBatches]  WITH CHECK ADD  CONSTRAINT [FK_ProductionBatches_FinishedProducts_FinishedProductId] FOREIGN KEY([FinishedProductId])
REFERENCES [dbo].[FinishedProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionBatches] CHECK CONSTRAINT [FK_ProductionBatches_FinishedProducts_FinishedProductId]
GO
ALTER TABLE [dbo].[ProductionBatches]  WITH CHECK ADD  CONSTRAINT [FK_ProductionBatches_Users_SupervisorId] FOREIGN KEY([SupervisorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProductionBatches] CHECK CONSTRAINT [FK_ProductionBatches_Users_SupervisorId]
GO
ALTER TABLE [dbo].[ProductionMaterials]  WITH CHECK ADD  CONSTRAINT [FK_ProductionMaterials_ProductionBatches_ProductionBatchId] FOREIGN KEY([ProductionBatchId])
REFERENCES [dbo].[ProductionBatches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionMaterials] CHECK CONSTRAINT [FK_ProductionMaterials_ProductionBatches_ProductionBatchId]
GO
ALTER TABLE [dbo].[ProductionMaterials]  WITH CHECK ADD  CONSTRAINT [FK_ProductionMaterials_RawMaterials_RawMaterialId] FOREIGN KEY([RawMaterialId])
REFERENCES [dbo].[RawMaterials] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionMaterials] CHECK CONSTRAINT [FK_ProductionMaterials_RawMaterials_RawMaterialId]
GO
ALTER TABLE [dbo].[ProductionStages]  WITH CHECK ADD  CONSTRAINT [FK_ProductionStages_ProductionBatches_ProductionBatchId] FOREIGN KEY([ProductionBatchId])
REFERENCES [dbo].[ProductionBatches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionStages] CHECK CONSTRAINT [FK_ProductionStages_ProductionBatches_ProductionBatchId]
GO
ALTER TABLE [dbo].[RawMaterials]  WITH CHECK ADD  CONSTRAINT [FK_RawMaterials_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawMaterials] CHECK CONSTRAINT [FK_RawMaterials_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[ReceivingForms]  WITH CHECK ADD  CONSTRAINT [FK_ReceivingForms_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReceivingForms] CHECK CONSTRAINT [FK_ReceivingForms_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[ReceivingForms]  WITH CHECK ADD  CONSTRAINT [FK_ReceivingForms_Users_ReceivedById] FOREIGN KEY([ReceivedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ReceivingForms] CHECK CONSTRAINT [FK_ReceivingForms_Users_ReceivedById]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_DeliveryForms_DeliveryFormId] FOREIGN KEY([DeliveryFormId])
REFERENCES [dbo].[DeliveryForms] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_DeliveryForms_DeliveryFormId]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_FinishedProducts_FinishedProductId] FOREIGN KEY([FinishedProductId])
REFERENCES [dbo].[FinishedProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_FinishedProducts_FinishedProductId]
GO
ALTER TABLE [dbo].[XRayChecks]  WITH CHECK ADD  CONSTRAINT [FK_XRayChecks_ProductionBatches_ProductionBatchId] FOREIGN KEY([ProductionBatchId])
REFERENCES [dbo].[ProductionBatches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[XRayChecks] CHECK CONSTRAINT [FK_XRayChecks_ProductionBatches_ProductionBatchId]
GO
ALTER TABLE [dbo].[XRayChecks]  WITH CHECK ADD  CONSTRAINT [FK_XRayChecks_Users_OperatorId] FOREIGN KEY([OperatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[XRayChecks] CHECK CONSTRAINT [FK_XRayChecks_Users_OperatorId]
GO
